/*!
 * Zest.io - Colours
 * Describes the colour palette for Zest's website branding.
 */

$lime:#318011;
$lemon:#FFE047; //From logo
$yellow:#f5cd09; //From logo -- slightly darker yellow for text "Zest.io"
$brown:#2D2014;