@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h1>Freshly squeezed web design and development.</h1>
            <p class="lead">We look at the web from a fresh perspective. Let us show you how a bit of zest can spice up your business.</p>
            <p>
                <a asp-controller="Services" asp-action="Services" class="btn btn-primary btn-lg" role="button">
                    View our services
                </a>
                <a asp-controller="Contact" asp-action="Contact" class="btn btn-default btn-lg" role="button">
                    Contact Us
                </a>
            </p>
        </div>
    </div>
</div>

<div class="row section">
    <div class="col-xs-12">
        <h1>Services</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body bit">
                <h4 class="media-heading">Service Name</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body bit">
                <h4 class="media-heading">Service Name</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body bit">
                <h4 class="media-heading">Service Name</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body bit">
                <h4 class="media-heading">Service Name</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body bit">
                <h4 class="media-heading">Service Name</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body bit">
                <h4 class="media-heading">Service Name</h4>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="col-xs-12">
        <h1>Tools and Technologies</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object pull-left img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Technology Name</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object pull-left img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Technology Name</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object pull-left img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Technology Name</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object pull-left img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Technology Name</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object pull-left img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Technology Name</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media bit">
            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object pull-left img-circle" src="http://lorempixel.com/64/64" alt="Service name.">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Technology Name</h4>
            </div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="col-xs-12">
        <h1>Featured Projects</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <a asp-controller="Projects" asp-action="Projects">
            <div class="card card-inverse">
                <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                <div class="card-img-overlay overlay">
                    <h2 class="card-title">Apple.com Redesign</h2>
                    <span class="label label-primary">Web Design</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <a asp-controller="Projects" asp-action="Projects">
            <div class="card card-inverse">
                <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                <div class="card-img-overlay overlay">
                    <h2 class="card-title">McDonalds Canada Redesign</h2>
                    <span class="label label-primary">Web Dev</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <a asp-controller="Projects" asp-action="Projects">
            <div class="card card-inverse">
                <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                <div class="card-img-overlay overlay">
                    <h2 class="card-title">Sears Canada Redesign</h2>
                    <span class="label label-primary">Web Design</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <a asp-controller="Projects" asp-action="Projects">
            <div class="card card-inverse">
                <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                <div class="card-img-overlay overlay">
                    <h2 class="card-title">Midtown Mall Redesign</h2>
                    <span class="label label-primary">Web Dev</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a asp-controller="Projects" asp-action="Projects" class="btn btn-primary btn-xlg" role="button">
            View All Projects
        </a>
    </div>
</div>

<blockquote class="testimonial">
    "I see America, not in the setting sun of a black night of despair ahead of us, I see America in the crimson
    light of a rising sun fresh from the burning, creative hand of God. I see great days ahead, great days possible
    to men and women of will and vision."

    <br />
    <br />

    <div class="media hidden-xs hidden-sm">
        <div class="media-left">
            <img class="media-object img-circle" src="http://lorempixel.com/64/64/people">
        </div>
        <div class="media-body">
            <h4 class="media-heading"><b>Carl Sandburg</b></h4>
            <p>Founder, Company X</p>
        </div>
    </div>
</blockquote>

<div>
    <div class="row section">
        <div class="col-xs-12">
            <h1>Featured Blog Articles</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a asp-controller="Blog" asp-action="Blog">
                <div class="card card-inverse">
                    <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Hypnotize Yourself into the Ghost of Christmas Future</h2>
                        <span class="label label-primary">Web Design</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a asp-controller="Blog" asp-action="Blog">
                <div class="card card-inverse">
                    <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Hypnosis - 6 Secret Tips to Stay Young Forever</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a asp-controller="Blog" asp-action="Blog">
                <div class="card card-inverse">
                    <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">The Small Change That Creates Massive Results in your Life</h2>
                        <span class="label label-primary">Web Design</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <a asp-controller="Blog" asp-action="Blog">
                <div class="card card-inverse">
                    <img class="card-img" src="http://www.lorempixel.com/400/400" data-src="http://www.lorempixel.com/400/400" alt="Card image">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Upgrading to Microsoft Windows Vista Tips</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <a asp-controller="Blog" asp-action="Blog" class="btn btn-primary btn-xlg" role="button">
                View All Blog Articles
            </a>
        </div>
    </div>
</div>
<div class="row text-center final-cta">
    <div class="col-sm-6 col-md-6">
        <p class="lead text-center">Interested in adding some zest to your next web project? Give us a shout!</p>
    </div>
    <div class="col-sm-6 col-md-6">
        <br />
        <a class="btn btn-primary btn-xlg" asp-controller="Contact" asp-action="Contact" role="button">Get in Touch Now</a>
    </div>
</div>
