@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h2>About</h2>
    <p>
        Ethical letterpress chicharrones, cold-pressed fap irony tattooed. Banjo ethical roof party
        cold-pressed put a bird on it street art. Retro williamsburg mumblecore cliche chia, mixtape
        gluten-free synth kitsch keytar dreamcatcher. Cardigan bespoke vice selfies, try-hard cray
        cliche banh mi waistcoat pop-up master cleanse tacos offal semiotics artisan. Echo park
        chartreuse 90's, vegan tumblr normcore actually. Flannel messenger bag meditation portland,
        four dollar toast vinyl kinfolk gentrify cred fingerstache pour-over ramps kitsch chicharrones.
        Taxidermy flannel letterpress jean shorts pop-up.
    </p>

    <br />

    <h2>Our Team</h2>

    <!-- Main Row -->
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <img src="~/images/headshots/nick.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-3">
            <b>Nik Ryzhenkov</b>
            <br />
            The Stars of the Beginning
            <br />

            <br />
            <br />

            <div class="row">
                <!-- Person Social Media -->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="http://www.linkedin.com"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="http://www.github.com"><i class="fa fa-github-square fa-3x"></i></a>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div class="col-sm-3 col-md-3">
            <img src="~/images/headshots/lester.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-3">
            <b>Lester Dela Vega</b>
            <br />
            The Mage of the Magic
            <br />

            <br />
            <br />

            <div class="row">
                <!-- Person Social Media -->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="http://www.linkedin.com"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="http://www.github.com"><i class="fa fa-github-square fa-3x"></i></a>
                </div>
            </div>
            <br />
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-3 col-md-3">
            <img src="~/images/headshots/kevin.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-3">
            <b>Kevin Quan</b>
            <br />
            The Planet of the Doors
            <br />

            <br />
            <br />

            <div class="row">
                <!-- Person Social Media -->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="http://www.linkedin.com"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="http://www.github.com"><i class="fa fa-github-square fa-3x"></i></a>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div class="col-sm-3 col-md-3">
            <img src="~/images/headshots/michael.jpg" class="img-responsive">
        </div>
        <div class="col-sm-3 col-md-3">
            <b>Michael Ng</b>
            <br />
            The Shard of the Dreamer
            <br />

            <br />
            <br />

            <div class="row">
                <!-- Person Social Media -->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="http://www.twitter.com"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="http://www.linkedin.com"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a href="http://www.github.com"><i class="fa fa-github-square fa-3x"></i></a>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>

    <br />
    <br />
    <br />

    <h2>Featured Blog Articles</h2>
    <h4>Our team has written a few blog articles about our work. Here's some of our latest stuff:</h4>

    <!-- Blog Row -->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <a href="~/Blog/Blog">
                <div class="card card-inverse">
                    <img class="card-img img-responsive" src="~/images/placeholders/img1about.jpg">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">McDonalds Canada Redesign</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6">
            <a href="~/Blog/Blog">
                <div class="card card-inverse">
                    <img class="card-img img-responsive" src="~/images/placeholders/img2about.jpg">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Apple.com Website Redesign</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <a class="btn btn-primary btn-xlg btn-block" asp-controller="Blog" asp-action="Blog" role="button">View All Blog Articles</a>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="row text-center">
        <div class="col-sm-6 col-md-6">
            <p class="lead text-center">Interested in adding some zest to your next web project? Give us a shout!</p>
        </div>
        <div class="col-sm-6 col-md-6">
            <br />
            <a class="btn btn-primary btn-xlg" asp-controller="Contact" asp-action="Contact" role="button">Get in Touch Now</a>
        </div>
    </div>
</div>
