@{
    ViewData["Title"] = "Services";
}

<div class="container">
    <h2>Services</h2>
    <p>
        PBR&B drinking vinegar 90's meditation gluten-free. Gluten-free kale chips ramps ennui blog tousled.
        Selfies pour-over hammock authentic lo-fi, flexitarian meggings trust fund YOLO godard normcore. Retro
        hoodie 90's, blue bottle ugh deep v williamsburg lumbersexual chillwave forage marfa direct trade readymade
        austin vinyl. Actually vice photo booth cornhole retro mlkshk, occupy freegan keffiyeh mumblecore jean shorts.
        Tumblr letterpress street art echo park. +1 neutra blog whatever, cred wayfarers cardigan kombucha listicle.
    </p>

    <br />

    <div class="row text-center">
        <div class="col-sm-12 col-md-6" align="center">
            <a href="ExampleService">
                <img src="~/images/placeholders/img9services.jpg" class="img-responsive">
                <div class="carousel-caption hidden-xs text-blur">
                    <h1>Service Name</h1>
                </div>
                <div class="carousel-caption visible-xs text-blur">
                    <h3>Service Name</h3>
                </div>
            </a>
            <br />
        </div>

        <div class="col-sm-12 col-md-6 service" align="center">
            <a href="ExampleService">
                <img src="~/images/placeholders/img12services.jpg" class="img-responsive">
                <div class="carousel-caption hidden-xs text-blur">
                    <h1>Service Name</h1>
                </div>
                <div class="carousel-caption visible-xs text-blur">
                    <h3>Service Name</h3>
                </div>
            </a>
            <br />
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-6" align="center">
            <a href="ExampleService">
                <img src="~/images/placeholders/img3services.jpg" class="img-responsive">
                <div class="carousel-caption hidden-xs text-blur">
                    <h1>Service Name</h1>
                </div>
                <div class="carousel-caption visible-xs text-blur">
                    <h3>Service Name</h3>
                </div>
            </a>
            <br />
        </div>

        <div class="col-sm-12 col-md-6" align="center">
            <a href="ExampleService">
                <img src="~/images/placeholders/img4services.jpg" class="img-responsive">
                <div class="carousel-caption hidden-xs text-blur">
                    <h1>Service Name</h1>
                </div>
                <div class="carousel-caption visible-xs text-blur">
                    <h3>Service Name</h3>
                </div>
            </a>
            <br />
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-6" align="center">
            <a href="ExampleService">
                <img src="~/images/placeholders/img6services.jpg" class="img-responsive">
                <div class="carousel-caption hidden-xs text-blur">
                    <h1>Service Name</h1>
                </div>
                <div class="carousel-caption visible-xs text-blur">
                    <h3>Service Name</h3>
                </div>
            </a>
            <br />
        </div>

        <div class="col-sm-12 col-md-6" align="center">
            <a href="ExampleService">
                <img src="~/images/placeholders/img7services.jpg" class="img-responsive">
                <div class="carousel-caption hidden-xs text-blur">
                    <h1>Service Name</h1>
                </div>
                <div class="carousel-caption visible-xs text-blur">
                    <h3>Service Name</h3>
                </div>
            </a>
            <br />
        </div>
    </div>

    <br />
    <br />
    <br />

    <blockquote class="hidden-xs hidden-sm">
        "I see America, not in the setting sun of a black night of despair ahead of us, I see America in the crimson
        light of a rising sun fresh from the burning, creative hand of God. I see great days ahead, great days possible
        to men and women of will and vision."

        <br />
        <br />

        <div class="media hidden-xs hidden-sm">
            <div class="media-left">
                <img class="media-object img-circle" src="~/images/placeholders/img1founder.jpg">
            </div>
            <div class="media-body">
                <h4 class="media-heading"><b>Carl Sandburg</b></h4>
                <p>Founder, Company X</p>
            </div>
        </div>
    </blockquote>

    <br />
    <br />

    <div class="row text-center">
        <div class="col-sm-6 col-md-6">
            <p class="lead text-center">Interested in adding some zest to your next web project? Give us a shout!</p>
        </div>
        <div class="col-sm-6 col-md-6">
            <br />
            <a class="btn btn-primary btn-xlg" asp-controller="Contact" asp-action="Contact" role="button">Get in Touch Now</a>
        </div>
    </div>
</div>