<!--
Careers top-level page for Zest.io
Authors: Lester Dela Vega    
-->

@{
    ViewData["Title"] = "Careers";
}

<!--
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="active"><a asp-controller="Careers" asp-action="Careers">Careers</a></li>
    </ol>
</div>
-->
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h1>Careers At Zest</h1>
            <p>
                Are you the brightest car in the parking lot or the fastest lightbulb in the shop?
                Do you want to be a part of something exciting? How about having a real influence over a project's direction?
                If that sounds like you, then don't hesitate! Apply now to become a part of Zest!
            </p>
            <br />
            <a class="btn btn-primary btn-lg" asp-controller="Careers" asp-action="Postings" role="button">View Postings</a>
            <br />
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <br />
            <img class="media-object img-responsive" src="http://lorempixel.com/1200/250/technics" alt="Careers banner image.">

            <h2>Why Us?</h2>
            <p>
                Something something about environment, benefits, etc.
                Before they sold out green juice mixtape blue bottle jean shorts. Pickled banh mi deep v, meggings vice before they sold out salvia blog twee shoreditch asymmetrical. Green juice disrupt microdosing beard tote bag wolf. Cornhole godard synth taxidermy mlkshk mixtape, man braid offal raw denim next level. Cray pitchfork kickstarter food truck PBR&B bicycle rights pickled, portland brooklyn selvage bespoke asymmetrical. Portland cardigan mlkshk, jean shorts YOLO seitan humblebrag occupy marfa. Pour-over gastropub poutine mixtape keytar.
            </p>
            <br />

            <img class="media-object img-responsive" src="http://lorempixel.com/1200/250/nightlife" alt="Careers banner image.">

            <h2>How To Apply</h2>
            <p>
                Something something about instructions and postings.
                Hashtag normcore marfa brunch yuccie next level. Quinoa cold-pressed 90's affogato pickled distillery, blog drinking vinegar neutra literally helvetica flannel banh mi. Bushwick poutine blog vice, shabby chic vinyl YOLO. DIY migas waistcoat, +1 sriracha squid portland. Raw denim leggings marfa, echo park portland synth sustainable kitsch neutra selvage gluten-free. Tumblr kinfolk brooklyn, yuccie street art beard before they sold out bushwick chia seitan narwhal drinking vinegar. Beard viral freegan selfies, salvia normcore roof party offal meggings.
            </p>
            <br />

            <a class="btn btn-primary btn-lg" asp-controller="Careers" asp-action="Postings" role="button">View Postings</a>

        </div>
    </div>
</div>
