@{
    ViewData["Title"] = "Projects";
}

<div class="page-header">
    <div class="row">
        <div class="col-xs-12">
            <h1>Projects</h1>
            <p>
                Interested in adding some Zest to your next project? <br />
                Give us a shout!<br />
                Intelligentsia iPhone artisan scenester. Distillery tofu gastropub meggings. Seitan jean shorts distillery brunch williamsburg, hella ramps. Fashion axe actually semiotics, ethical irony cardigan street art +1. Chambray synth mumblecore, pork belly echo park put a bird on it taxidermy etsy actually truffaut microdosing kogi direct trade. Cardigan put a bird on it green juice, cold-pressed swag tilde typewriter mumblecore kogi farm-to-table waistcoat scenester fingerstache. Banjo meh cliche echo park scenester.

            </p>
            <a class="btn btn-primary btn-lg" asp-controller="Contact" asp-action="Contact" role="button">Get in touch now!</a>
            <br />
        </div>
    </div>
</div>

<div class="container center-block">
    <div class="grid">
        <div class="row">
            <div class="grid-item">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img3projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Apple.com Redesign</h2>
                        <span class="label label-primary">Web Design</span>
                    </div>
                </div>
                <!--

                <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/400/city/all" alt="Project image.">

                <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/400/city" alt="Project image.">
                -->
            </div>
            <div class="grid-item grid-item--height2">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img1projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">McDonalds Canada</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
                <!--
                    <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/500/food" alt="Project image.">
                    <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/500/food/all" alt="Project image.">

                -->
            </div>
            <div class="grid-item grid-item--height3">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img2projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Google Mobile</h2>
                        <span class="label label-primary">Mobile</span>
                    </div>
                </div>
                <!--
            <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/600/technics" alt="Project image.">
            <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/600/phone/all" alt="Project image.">

        -->
            </div>
        </div>
        <div class="row">
            <div class="grid-item grid-item--height3">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img2projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Facebook.com</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
                <!--

                    <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/600/people/all" alt="Project image.">

                    <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/600/people" alt="Project image.">
                -->
            </div>
            <div class="grid-item">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img3projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Amazon Mobile</h2>
                        <span class="label label-primary">Mobile</span>
                    </div>
                </div>
                <!--

                        <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/400/computer/all" alt="Project image.">

                        <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/400/technics" alt="Project image.">
                -->
            </div>
            <div class="grid-item grid-item--height2">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img1projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Microsoft Outlook</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
                <!--

                        <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/500/abstract/all" alt="Project image.">

                        <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/500/abstract" alt="Project image.">
                -->
            </div>
        </div>
        <div class="row">
            <div class="grid-item grid-item--height3">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img2projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Midtown Mall</h2>
                        <span class="label label-primary">Web Dev</span>
                    </div>
                </div>
                <!--

                <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/600/alcohol/all" alt="Project image.">

                <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/600/nightlife" alt="Project image.">
            -->
            </div>
            <div class="grid-item">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img3projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Peter's Drive-in</h2>
                        <span class="label label-primary">Mobile</span>
                    </div>
                </div>
                <!--

                    <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/400/food/all" alt="Project image.">

                    <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/400/food" alt="Project image.">
            -->
            </div>
            <div class="grid-item grid-item--height2">
                <div class="card card-inverse">
                    <img class="card-img media-object img-responsive" src="~/images/placeholders/img1projects.jpg" alt="Project image.">
                    <div class="card-img-overlay overlay">
                        <h2 class="card-title">Sears Canada</h2>
                        <span class="label label-primary">Web Design</span>
                    </div>
                </div>
                <!--

                    <img class="card-img media-object img-responsive" src="http://loremflickr.com/g/300/500/fashion/all" alt="Project image.">

                    <img class="card-img media-object img-responsive" src="http://lorempixel.com/300/500/fashion" alt="Project image.">
            -->
            </div>
        </div>
    </div>
</div>

<!--
<div class="col-xs-12 col-sm-6 col-md-4 grid-item">
<div class="col-xs-12 col-sm-6 col-md-4 grid-item grid-item--height2">
<div class="col-xs-12 col-sm-6 col-md-4 grid-item grid-item--height3">

-->

<!--Scripts for masonry.-->
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script>

    var $container = $('.grid');
    $container.imagesLoaded(function () {
        $container.masonry({
            columnWidth: '.grid-item',
            itemSelector: '.grid-item'
        });
    });

    /*
    // init Masonry
    var $grid = $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 400
    });

    // layout Masonry after each image loads
    $grid.imagesLoaded().progress(function () {
        $grid.masonry('layout');
    });
    */

</script>